.cabecalho {
  background-color: #111;
  text-align: center;
  padding-top: 10px;
  border-bottom: 4px solid #AAAAAA;
  box-shadow: 0 4px 0 #000;
}

.mensagem-bemvindo {
  font-size: 24px;
  color: #FFD700;
  font-weight: bold;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 10px;
  gap: 10px;
}

.search-bar input {
  padding: 8px;
  background: #111;
  border: 2px solid #FFD700;
  color: #fff;
  width: 300px;
}

.widget-container {
  text-align: center;
  padding: 10px;
  background-color: #222;
  border-bottom: 2px solid #FFD700;
}

.bloco-links,
.lista-livros,
.bloco-notas,
.painel-metas {
  background: #1f1f1f;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 16px;
}

.botoes-coloridos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.botoes-coloridos a {
  width: 120px;
  height: 80px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 4px 4px 0 #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-livros li {
  margin-bottom: 10px;
}
.lista-livros a {
  color: #FF77FF;
}
.lista-livros a:hover {
  color: FF8C00;
}

textarea {
  width: 100%;
  height: 150px;
  background: #2a2a3d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  resize: none;
}

.nova-meta {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.nova-meta input {
  padding: 6px;
  background: #111;
  border: 2px solid #888;
  color: white;
}

.nova-meta button {
  background: #00c853;
  border: none;
  padding: 6px 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.meta-item {
  margin-top: 6px;
  background: #292929;
  padding: 6px 10px;
  border: 1px solid #555;
  color: #FFD700;
}

footer {
  text-align: center;
  font-size: 10px;
  color: #aaa;
  border-top: 2px solid #444;
  padding: 10px;
  margin-top: 40px;
}

#estudo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px;
}

#chessboard {
  width: 280px !important;
  height: 280px !important;
  max-width: 100%;
  margin: 20px auto;
  border: 2px solid #444;
}