.grid-principal {
  display: grid;
  grid-template-columns: 1fr 420px;
  gap: 20px;
  padding: 20px;
}

.coluna-esquerda {
  width: 100%;
}

.coluna-direita {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.versiculos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}
